* {
  margin: 0;
  padding: 0;
}
body {
  height: 10000px;
  background-image: linear-gradient(
    rgb(2, 2, 22),
    rgb(26, 1, 98),
    rgb(2, 2, 22)
  );
}
#cabecalhofixo {
  position: sticky;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 100%;
  z-index: 99;
}
#ulPaginas {
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.liPaginas {
  padding: 0px;
  margin: 50px;
  border-bottom: 2px solid #cccccc;
  text-align: center;
}
.liPaginas a {
  text-decoration: none;
  color: white;
}
.liPaginasimg {
  padding: 0px;
  margin: 50px;
  text-align: center;
  margin-top: 20px;
}
#inicio {
  height: 991px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#inicioElements {
  height: 700px;
  width: 60%;
  align-items: center;
  display: flex;
  justify-content: center;
}
#txtInicio {
  color: white;
}
#ola {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 3px;
}
#gustavo {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: #ad00ff;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 3px;
}
#proficao {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 566;
  font-style: normal;
  font-size: 32px;
  line-height: 72px;
  letter-spacing: 3px;
}
#foto {
  display: flex;
  justify-content: center;
  align-items: center;
}
