* {
  margin: 0;
  padding: 0;
}
body {
  padding-bottom: 100px;
  background-image: linear-gradient(
    rgb(2, 2, 22),
    rgb(26, 1, 98),
    rgb(2, 2, 22)
  );
}
#cabecalhofixo {
  position: sticky;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 100%;
  z-index: 99;
}
#ulPaginas {
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.liPaginas {
  padding: 0px;
  margin: 50px;
  border-bottom: 2px solid #cccccc;
  text-align: center;
}
.liPaginas a {
  text-decoration: none;
  color: white;
}
.liPaginasimg {
  padding: 0px;
  margin: 50px;
  text-align: center;
  margin-top: 20px;
}
#inicio {
  height: 991px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#inicioElements {
  height: 700px;
  width: 60%;
  align-items: center;
  display: flex;
  justify-content: center;
}
#txtInicio {
  color: white;
}
#ola {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 3px;
}
#gustavo {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: #ad00ff;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 3px;
}
#digitando {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 566;
  font-style: normal;
  font-size: 32px;
  line-height: 72px;
  letter-spacing: 3px;
}
#foto {
  display: flex;
  justify-content: center;
  align-items: center;
}

#digitando {
  color: #fff;
  font-family: "Karla", sans-serif;
  letter-spacing: 1px;
}

#digitando::after {
  content: "|";
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink 0.7s infinite;
}
#pagsobremim {
  width: 100%;
  height: 633px;
  text-align: center;
  justify-content: center;
}

.subt {
  color: #999999;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 5px;
}
.titulo {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: normal;
  color: #fff;
  line-height: 1.5;
  font-size: 40px;
  letter-spacing: 5px;
}
.txtsobremim {
  color: #fff;
  line-height: 27px;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.txtsobremim p {
  margin-bottom: 40px;
}
#paghabilidades {
  width: 100%;
  height: 500px;
  text-align: center;
  justify-content: center;
}
#experiencia {
  width: 100%;
  height: 800px;
  text-align: center;
  justify-content: center;
}
#ulhabilidades {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  font-family: "Poppins", sans-serif;

  font-style: normal;
}
#habilidade {
  display: flex;
}
.especialidade {
  color: #ffffff;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  gap: 10px;
}
#listahabilidades1 {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

#listahabilidades2 {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

#setenta {
  width: 500px;
  background: linear-gradient(to right, #0075f6 70%, #f0f0f0);
  background-color: #0075f6;

  border-radius: 4px;
  display: flex;
  flex-direction: row-reverse;
}
#novenove {
  width: 500px;
  background: linear-gradient(to right, #0075f6 99%, #f0f0f0);
  border-radius: 4px;
  display: flex;
  flex-direction: row-reverse;
}
#trinta {
  width: 500px;
  background: linear-gradient(to right, #0075f6 30%, #f0f0f0);
  border-radius: 4px;
  display: flex;
  flex-direction: row-reverse;
}
#secenta {
  width: 500px;
  background: linear-gradient(to right, #0075f6 60%, #f0f0f0);
  border-radius: 4px;
  display: flex;
  flex-direction: row-reverse;
}
#oitocinco {
  width: 500px;
  background: linear-gradient(to right, #0075f6 85%, #f0f0f0);
  border-radius: 4px;
  display: flex;
  flex-direction: row-reverse;
}
#cinquenta {
  width: 500px;
  background: linear-gradient(to right, #0075F6 50%, #F0F0F0);  border-radius: 4px;
  display: flex;
  flex-direction: row-reverse;
}
#tragetoria {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.ano {
  opacity: 40%;
}
#linha1 {
  display: flex;
  align-items: center;
  margin: 15px;
  gap: 15px;
}
.desctragetoria {
  opacity: 70%;
  margin: 15px;
  display: flex;
  text-align: justify;
  font-size: 15px;
  line-height: 20px;
  font-weight: 100;
}
#tragetoriabox1 {
  background-color: #1327d8;
  width: 700px;
  height: 170px;
}
#tragetoriabox2 {
  background-color: #1827af;
  width: 700px;
  height: 170px;
}
#tragetoriabox3 {
  background-color: #25038b;
  width: 700px;
  height: 170px;
}
#pagmeusprojetos {
  width: 100%;
  height: 700px;
  text-align: center;
  justify-content: center;
}

.carrossel {
  position: relative;
  width: 1600px;
  height: 300px;
  margin: auto;
  overflow: hidden;
  margin-top: 40px;
}

.imagens {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
  gap: 10px;
}

.imagens img {
  max-width: 33.33%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
#pagcadastro {
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
}
#duasdiv {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 70px;
  margin-top: 40px;
}
#formulario {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 15px;
}
.tituloforms {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 18px;
  font-size: 25px;
  margin-bottom: 25px;  
}
svg {
  align-items: center;
  justify-content: center;
  display: flex;
}
#txtareamensagem {
  background-color: #333333;
  border: none;
  width: 500px;
  resize: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-style: normal;
  outline: 0;
  color: white;
  padding-left:10px ;
  padding-top: 10px;
}
input {
  width: 300px;
  outline: 0;
  color: white;
  padding-left:10px ;
}
#informacoes {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: left;

}

.tituloinfo {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #999999;
  margin-top: 15px;
  font-size: 18px;
}
.subtituloinfo {
  color: #ffffff;
  opacity: 50%;
  font-size: 18px;
  margin-top: 3px;
}
input{
  background-color: #333333;
  border: none;
  height: 40px;
  width: 500px;
}
#redessociais {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.redesocial {
  background-color: #333333;
  border-radius: 30px;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}
#Copyrighttxt {
  width: 500px;
  font-size: 20px;
  color: #ffffff;
  opacity: 50%;
  padding: 20px;
  border-top: solid 1px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, -50%);
}
#Copyrighttxt::before{
  content: "";
  position: absolute;
  width: 500px;
  height: 2px;
  color: #ffffff;
  top: 20px;
  z-index: 9999999;
}
#Copyrightbox {
  width: 100%;
  position: relative;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    flex-direction: row;
    text-align: center;
    display: flex;
  }
  img {
    display: none;
    max-width: 700px;
  }
  #ulPaginas {
    display: block;
    margin: -30px;
    font-size: 8px;
  }
  #ola {
    font-size: 20px;
  }
  #gustavo {
    font-size: 30px;
  }
  #proficao {
    font-size: 20px;
  }
  #listaTitulos {
    position: sticky;
  }

  #cabecalhofixo {
    width: 100px;
    height: 876px;
  }
}
